<!DOCTYPE html>
<html lang="ko">
<head>
  
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/doself.css')}}"/>
<title>자가진단 수행</title>
</head>
<body>
<div class="container">
<div class="do-form">
  <form action="/doself" method="post">
    <input type="text" name="code">
    <button class="btn" type="submit"></button>
  </form>
  <script>
    function getCookie(name) {
  let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
   ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    if (getCookie('saved_ID') != undefined) {
      
    document.getElementsByTagName('input')[0].value = getCookie('saved_ID')
    }
    document.getElementsByTagName('input')[0].focus()
  </script>
</html>